.button {
  display: inline-block;
  font-weight: 600;
  font-family: "OpenSans", sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 25px;
  border: 1px solid #ea5b21;
  background-color: transparent;
  color: #ea5b21;
  border-radius: 10px;
  min-width: 280px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    border-color: #46ba3c;
    color: #46ba3c;
  }
}

.button--grey {
  border-color: #686868;
  color: #686868;

  &:hover {
    border-color: #46ba3c;
    color: #46ba3c;
  }
}
