.button {
  display: inline-block;
  font-weight: 600;
  font-family: "OpenSans", sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 25px;
  border: 1px solid #ea5b21;
  background-color: transparent;
  color: #ea5b21;
  border-radius: 10px;
  min-width: 280px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    border-color: #46ba3c;
    color: #46ba3c;
  }
}

.button--grey {
  border-color: #686868;
  color: #686868;

  &:hover {
    border-color: #46ba3c;
    color: #46ba3c;
  }
}

.button--green {
  border-color: #46ba3c;
  background-color: #46ba3c;
  color: #fff;

  &:hover {
    background-color: #34a52a;
    border-color: #34a52a;
    color: #fff;
  }
}

.button--white {
  border-color: #fff;
  color: #fff;

  &:hover {
    border-color: #fff;
    background-color: #fff;
    color: #46ba3c;
  }
}

.button--icon {
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-left: 10px;
    width: 20px;
    fill: #fff;
    height: 20px;
  }
}

.button--small {
  font-size: 16px;
  padding: 10px 15px;
  min-width: 180px;
}

.button--plain {
  border-radius: 0;
}
