.title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.form-submit {
  button {
    cursor: pointer;
  }
}
.privacy-policy-text {
  font-size: 0.75rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
