.video-block {
  position: relative;
  overflow: hidden;

  &__image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    span {
      display: block;
      width: 100% !important;
      height: 100% !important;
    }
    img {
      width: 100% !important;
      height: 100% !important;
      display: block;
      object-fit: cover;
    }
  }
  &__text {
    padding: 100px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .play_blk {
      text-align: center;
      display: flex;
      align-items: center;
    }
    .play_hx {
      font-family: "Geometria", sans-serif;
      font-weight: 700;
      font-size: 70px;
      text-transform: uppercase;
      line-height: 1;
      color: #fff;
      padding-left: 100px;
      position: relative;
      bottom: 2px;
    }
    .play_blk {
      position: relative;
      padding: 0 30px;
      .play {
        background: url(/play-sprite.png) no-repeat 0%;
        height: 80px;
        width: 80px;
        display: inline-block;
      }
      .play:hover {
        background: url(/play-sprite.png) no-repeat 100%;
      }
    }
    .play_text {
      color: #fff;
      font-size: 24px;
      font-family: "Geometria", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      max-width: 350px;
    }
  }
}
